@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <my-app asp-prerender-module="Tuto.page/dist/main-server">Loading...</my-app>
</div>
</body>
</html>